
  body{
    background-image: url("0004\ fundo.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     opacity: 10px;
     width: 100%;
     height: 50%;  
  
  }


 /*** HEADER  ***/
  
 .pgheader{
  display: flex;
  width: 100%;
  padding: 20px 0;
  
}
  
  .header-content{
    text-align: center;
    font-family: 'Bebas Neue', cursive; 
    color:black;
    letter-spacing: 2px;
    font-size: large;
    width: 100%;
    position: center;
    padding: 20px 0;
   
  }

  button {
    padding: 16px 32px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    font-weight: 900;
    font-family:'Bebas Neue', cursive;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 1s;
    position: center;
    
     
  }

  button:hover { 
    color: #c75f19;

  }

  nav {
    top: 110px;
    display: inline;
      
  }
  
  nav li {
    display: inline;
    margin: 0 0 0 15px;
    width: 100%;
  }
  
  nav a {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
  }
  
nav a:hover {
	color: #c75f19;
}
  

  @media screen and (max-width: 480px){
    #section-news-world, #section-killers-gallery, #killers-trailer, .gallery-container, .gallery-image, .pgheader, .header-content, .container, .section-texts,  .containersection-text, 
    #music-theme-button, .video-frame {width:auto;} 
    
        h2, h3 {
      display: flex;
      position: center;
      width: 100%;
    }

  /* Section 01 - curiosidades */
  
  .container {
    max-width: 480px;
    display: flex;
    position: center;
  }
  
  #section-news-world {
    position: center;
    display: flex;
    width: 100%;
  }

   
  #section-news-world .section-texts {
    width: 100%;
    display: flex;
    position: center;
  }
  
  #section-news-world .section-texts h2 {
    max-width: 100px;
    display: flex;
    align-items: center;
  }
  /* Section 02 -The Killers Music */

  #killers-trailer{
    width: 100%;
    text-align: center;
    display: flex;

  }
  
  #section-killers-trailer .section-texts {
    width: 100%;
    text-align: center;
    display: flex;
  }
  
  #section-killers-trailer .section-texts h2 {
    max-width: 425px;
    display: flex;
  }
  
 
  /* Section 03 - Killers Gallery */
  
  #section-killers-gallery {
    width: 100%;
   position: center;
    display: flex;
  }
  
  #section-killers-gallery .container {
    width: 100%;
    display: flex;
    height: 50%;
  }
  
  #section-killers-gallery .container h2 {
    width: 100%;
    display: flex;
    height: 50%;
  }
  
  .gallery-container .gallery-imagebanda {
    display: flex;
    width: 50%;
    height: 30%;
    border-radius: 20px;
  }

  .gallery-container{
    display: flex;
    width: 50%;
    height: 30%;
    border-radius: 20px;

  }
  
  #section-killers-gallery .gallery-image {
    width: 100%;
    height: 50%;
    outline: 20px solid; 
    display: flex;
    object-fit: cover;
    

  }
  
  #section-killers-gallery .gallery-image img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    display: flex;
   }
  }
    
  /* Section 04 - The Victims Form */
  
  #section-form {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
  }
  
  #section-form h2 {
    width: 100%;
  }
  
  #section-form .form-content h3 {
    color:white
  }
  
  #section-form .form-content h3 span {
    color: orangered;
  }

  #section-form .form-content h3 {
    flex-basis: 100%;
    text-align: center;
    margin: 0;
   
  }
  
  #section-form .form-container {
    flex-basis: 100%;
    position: center;
  }
   
  #section-form .form-container form {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background-color:black;
    color: white;
    text-align: left;
    margin-top: 4%;
    
  }
  
  #section-form .form-container form button {
    border: none;
    background-color:white;
    color: black;
    max-width: 100%;
    align-self: center;
  }
  
  #section-form .form-container form button:hover {
    background-color:black;
    color: white;
}

  /***  GENERIC STYLES ***/
 
  h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 15rem;
    font-style:bold;
    color: #fc6006;
    text-transform: uppercase;   
    width: 100%;
    position: center;
    margin-top: 30px;
        
    }

    h2,
    h3 {
    letter-spacing: 3px;    
    font-weight: normal;
    color: #fc6006;
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    text-transform: uppercase;
    position: center;
    width: 100%;
    display: flex
    
 }
  
   
  p,
  input,
  textarea {
    font-family: 'Bebas Neue', cursive; 
    color:black;
    letter-spacing: 2px;
    font-size: 25px;
    
    width: 100%;
    position: center;
  }
  label{
    font-family: 'Bebas Neue', cursive; 
    color: white;
    letter-spacing: 2px;
    font-size: large;
  }
    
  main {
    display: flex;
    align-items: center;
    position: center;
    }
  
  
  input,
  textarea {
    border: 2px solid;
    background-color: white;
    color: black;
    padding: 8px;
    width: 100%;
    display: flex;
  }
  
  input,
  textarea {
    margin-bottom: 24px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input:focus-visible,
  textarea:focus-visible {
    outline: none;
    border-color: black;
  }

  /*** MUSICS STYLES ***/

  .musicas{

    margin-top: 5%;
    text-align: center;
  }

  .musicastitulo{

    margin-bottom: 0%;
    backdrop-filter:blur(5px);
    border: 2px solid transparent;
    width: 50%;
    height: 50%;
    background-image: url("2008\ Day\ &\ Age.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
   

  }

    /*** PHOTOS STYLES ***/
  .photos{
    display: flex;
    width: 100%; 
    
    
  }
  

  .bodyshow{
    width: 15%;
    padding: 5px;
    margin: 10px 50px 20px 10;
    position: center;
    display: flex;
      
  }

  
  /*** FOOTER STYLES ***/
  
  footer {
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    
       
  }
  
  footer p {
    max-width: 700px;
    margin-bottom: 24px;
    color: white;
  }

 
  